#!/usr/bin/env bash

set -e

_DIR=`pwd`

export PATH="$_DIR/.direnv/bin:$PATH"

if ! hash xonsh 2>/dev/null ; then
pip3 install xonsh &
fi

if [ ! -e "./node_modules" ]; then
yarn
fi

if [ ! -e "./build/node_modules" ]; then
cd $_DIR/build && yarn 
fi

wait

